<a href="https://colab.research.google.com/github/fatasa/PraktikumPSD/blob/main/PraktikumPSD9822.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
n_rows = 10
n_cols = 5
cols = tuple ('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)

df

    A   B   C   D   E
0  10  13  19  12   7
1   1  14  12  19  14
2  18   5  18   4  16
3  11   4  11  10  12
4  18   2  17   9  11
5   9  14  11   1  15
6   5   2  15  17  11
7  12   4   1  17  15
8  13  13   6   1   8
9  19  17  16   4   9

In [3]:
# Seleksi column dan baris menggunakan loc
df.loc[[0,3,4], ['B','E']]

    B   E
0  13   7
3   4  12
4   2  11

In [4]:
# Seleksi baris dengan kondisi
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
0  13  12   7
1  14  19  14
5  14   1  15
8  13   1   8
9  17   4   9

In [5]:
#slicing data frame, start index end index inklusif
df.loc[0:4, 'B':'D']

    B   C   D
0  13  19  12
1  14  12  19
2   5  18   4
3   4  11  10
4   2  17   9

**Data Frame baru, tipe data integer**

In [6]:
data = {'day' : [1,2,10,25,12],
        'month' : [1,2,4,5,6],
        'year' : [2001,2010,2015,2019,2020]}

df = pd.DataFrame(data)
df

   day  month  year
0    1      1  2001
1    2      2  2010
2   10      4  2015
3   25      5  2019
4   12      6  2020

In [7]:
df['penanggalan'] = pd.to_datetime(df[['day','month','year']])
df

   day  month  year penanggalan
0    1      1  2001  2001-01-01
1    2      2  2010  2010-02-02
2   10      4  2015  2015-04-10
3   25      5  2019  2019-05-25
4   12      6  2020  2020-06-12

In [8]:
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object

In [9]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df_usia = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)),
                       columns=cols)
df_usia

   usia
0    97
1    39
2    64
3    26
4    54
5    12
6    38
7    95
8    54
9     4

In [10]:
#Pengelompokan nilai numerik ke dalam beberapa kategori menggunakan cut

df_usia['kelompok_usia'] = pd.cut(df_usia['usia'],
                                bins = [0, 18, 65, 99],
                                labels = ['anak', 'dewasa', 'manula'])
df_usia

   usia kelompok_usia
0    97        manula
1    39        dewasa
2    64        dewasa
3    26        dewasa
4    54        dewasa
5    12          anak
6    38        dewasa
7    95        manula
8    54        dewasa
9     4          anak

In [11]:
n_rows = 5
n_cols = 5
cols = tuple ('ABCDE')

df_a = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df_a

    A   B   C   D   E
0  10  19  12  11   4
1  15  19  15  14   3
2  19  18  11   8  13
3  11   2  12   7  13
4  11  17  15   3   8

In [12]:
# Pecah data frame menjadi 2

df1 = df_a.copy(deep=True)
df1 = df1.drop([1,4])
df1

    A   B   C   D   E
0  10  19  12  11   4
2  19  18  11   8  13
3  11   2  12   7  13

In [13]:
df2 = df_a.copy(deep=True)
df2 = df_a.drop([0,3])
df2

    A   B   C   D   E
1  15  19  15  14   3
2  19  18  11   8  13
4  11  17  15   3   8

In [14]:
# Menggunakan metode merge untuk menggabungkan 2 df
# Inner di kedua dataframe datanya ada semua
# index reset kembali menjadi 0

df_inner = pd.merge(df1,df2,how='inner')
df_inner

    A   B   C  D   E
0  19  18  11  8  13

In [15]:
df_outer = pd.merge(df1,df2,how='outer')
df_outer

    A   B   C   D   E
0  10  19  12  11   4
1  19  18  11   8  13
2  11   2  12   7  13
3  15  19  15  14   3
4  11  17  15   3   8